/* * ========== */
/* * SPACING */
/* * ========== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}

.mt-41 {
    margin-top: calc(var(--space) * 41);
}

.mt-42 {
    margin-top: calc(var(--space) * 42);
}

.mt-43 {
    margin-top: calc(var(--space) * 43);
}

.mt-44 {
    margin-top: calc(var(--space) * 44);
}

.mt-45 {
    margin-top: calc(var(--space) * 45);
}

.mt-46 {
    margin-top: calc(var(--space) * 46);
}

.mt-47 {
    margin-top: calc(var(--space) * 47);
}

.mt-48 {
    margin-top: calc(var(--space) * 48);
}

.mt-49 {
    margin-top: calc(var(--space) * 49);
}

.mt-50 {
    margin-top: calc(var(--space) * 50);
}

.mt-51 {
    margin-top: calc(var(--space) * 51);
}

.mt-52 {
    margin-top: calc(var(--space) * 52);
}

.mt-53 {
    margin-top: calc(var(--space) * 53);
}

.mt-54 {
    margin-top: calc(var(--space) * 54);
}

.mt-55 {
    margin-top: calc(var(--space) * 55);
}

.mt-56 {
    margin-top: calc(var(--space) * 56);
}

.mt-57 {
    margin-top: calc(var(--space) * 57);
}

.mt-58 {
    margin-top: calc(var(--space) * 58);
}

.mt-59 {
    margin-top: calc(var(--space) * 59);
}

.mt-60 {
    margin-top: calc(var(--space) * 60);
}


/* * ========== */
/* * GLOBAL */
/* * ========== */


:root {
    color-scheme: dark;
    --space: 0.25rem;

    /* $ LIGHT THEME */
    --light-bg: #fff;
    --light-bg-shade-1: #FAFAFA;
    --light-heading: #0B132A;
    --light-para: #4F5665;
    --light-para-shade-1: #AFB5C0;
    --light-slider: #fff;
    --light-slider-shadow: #dedede;
    --light-nav-bg: #fffa;

    /* $ DARK THEME */
    --dark-bg: #0d001d;
    --dark-bg-shade-1: #100023;
    --dark-heading: #fff;
    --dark-para: #94a2c1;
    --dark-slider: #0d001d;
    --dark-slider-shadow: #000;
    --dark-nav-bg: #0d001daa;

    /* $ BUTTON */
    --btn: #F53838;
    --btn-text: #fff;
    --btn-shadow: rgba(245, 56, 56, 0.35);

    /* $ OTHERS */
    --vertical-rule: #EEEFF2;
    --score-icon-bg: #FFECEC;
    --score-shadow: rgba(13, 16, 37, 0.06);
    --card-border-color: #DDD;
    --carousel-bullet-color: #DDE0E4
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: light-dark(var(--light-para), var(--dark-para));
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: .15s;
}

a:hover {
    opacity: .8;
}

body {
    background: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-heading), var(--dark-heading));
}

/* * ================= */
/* * TYPOGRAPHY */
/* * ================= */


html {
    font-size: 10px;
    font-family: "Rubik", sans-serif;
}

/* ------------- */
/* FONT WEIGHT */

strong {
    font-weight: 700;
}

b {
    font-weight: 500;
}

/* ---------- */
/* HEADING */

h1 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 clamp(3.5rem, 2.9552rem + 1.7vw, 5rem) / clamp(5rem, 2.2272rem + 3.98vw, 7rem) "Rubik", sans-serif;
}

h2 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 3.5rem / 5rem "Rubik", sans-serif;
}

h3 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 700 2.5rem / 3rem "Rubik", sans-serif;
}

h4 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 2rem "Rubik", sans-serif;
}

h5 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 1.8rem / 3rem "Rubik", sans-serif;
}

/* ------------ */
/* PARAGRAPHS */

.text-1 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 2.5rem / 3rem "Rubik", sans-serif;
}

.text-2 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 2rem / 3rem "Rubik", sans-serif;
}

.text-3,
p {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 1.6rem / 3rem "Rubik", sans-serif;
}

.text-4 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 1.4rem / 3rem "Rubik", sans-serif;
}


/* * ================== */
/* * BUTTON */
/* * ================== */

/* -------------- */
/* FILLED BUTTON */

.btn-fill {
    appearance: none;
    outline: 0;
    border: 0;
    padding: 1.75rem 7.75rem;
    border-radius: 1rem;
    background: var(--btn);
    transition: .3s;

    color: var(--btn-text);
    font: 700 1.6rem / 2.5rem "Rubik", sans-serif;

    box-shadow: 0 2rem 2.7rem var(--btn-shadow);
}

.btn-fill svg {
    fill: var(--btn-text);
}

.btn-fill:hover {
    box-shadow: 0 2rem 2.7rem var(--btn-shadow), 0 0 0 .5rem var(--btn-shadow);
    border-radius: 2rem;
}

/* --------------- */
/* BUTTON OUTLINE */

.btn-outline {
    appearance: none;
    outline: 0;
    background: transparent;
    transition: .3s;

    padding: 1.75rem 7.75rem;
    border-radius: 1rem;
    border: .2rem solid var(--btn);

    color: var(--btn);
    font: 700 1.6rem "Rubik", sans-serif;
}

.btn-outline>svg {
    fill: var(--btn);
}

.btn-outline:hover {
    box-shadow: 0 0 0 .5rem var(--btn-shadow);
    background: var(--btn);
    color: var(--btn-text);
}

.btn-outline:hover>svg {
    fill: var(--btn-text)
}


/* * ================= */
/* * LAYOUT */
/* * ================= */

.container {
    width: clamp(min(100%, 30rem), 100%, 120rem);
}

.narrow {
    max-width: 55rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45rem, 100%), 54rem));
    place-content: center;
    place-items: center;
    gap: 4rem;
}



/* * =========================== */
/* * HEADER */
/* * =========================== */

/* $ ------------------ */
/* $ TOGGLE DARK MODE */

/* FUNCTIONALITY */

:root:has(#dark-mode-check:checked) {
    color-scheme: light;
}


/* STYLING */

.toggle-switch {
    transform: scale(.6);
    position: relative;
    width: 10rem;
    height: 5rem;
    --light: #fff;
    --dark: rgb(55, 0, 118);
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 5rem;
    background-color: var(--dark);
    border-radius: 2.5rem;
    cursor: pointer;
    border: .3rem solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider-dark {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider-dark {
    background-color: var(--light);
}

.slider-dark::before {
    content: "";
    position: absolute;
    top: .7rem;
    left: .7rem;
    width: 3.0rem;
    height: 3.0rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 1.2rem -.4rem 0 0 var(--light);
    box-shadow: inset 1.2rem -.4rem 0 0 var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider-dark::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}


/* ----------------- */
/* NAVIGATION */

nav {
    padding: 4rem 0 2rem;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
    background: light-dark(var(--light-nav-bg), var(--dark-nav-bg));
    top: 0;
    width: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#overlay {
    display: none;
}

@media screen and (max-width: 992px) {
    nav:has(#slider-check:checked) .slider {
        right: 0;
    }

    header:has(#slider-check:checked) #overlay {
        display: block;
        position: fixed;
        inset: 0;

    }

    nav .slider {
        position: fixed;
        top: 0;
        right: -105%;
        z-index: 10;
        background: light-dark(var(--light-slider), var(--dark-slider));
        flex-direction: column;
        height: 100vh;
        text-align: center;
        width: min(30rem, 100%);
        padding: 5rem 0 1rem;
        box-shadow: -.1rem 0 3rem light-dark(var(--light-slider-shadow), var(--dark-slider-shadow));
        transition: .5s;
    }

    nav .slider>* {
        flex-direction: column;
    }

    nav .slider label {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .links {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
}

nav .sign {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav .sign a {
    color: light-dark(var(--light-heading), var(--dark-heading))
}


/* --------------- */
/* BANNER CONTENT */

.banner {
    margin: 19rem 0 10rem;
}

/* ----------------- */
/* SCORE */

.score .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 6rem 0;
    border-radius: 1rem;
    columns: 300px 3;
    column-rule: 3px solid lime;
    box-shadow: 0 5rem 5.7rem var(--score-shadow);
}

.score .score-item {
    display: flex;
    align-items: center;
    padding: 0 7rem;
    flex: 1;
    width: clamp(27rem, 100%, 30rem);
    gap: 3.5rem;
    position: relative;
}

.score .score-item:not(:last-child)::after {
    content: '';
    height: 12.5rem;
    width: .2rem;
    background: var(--vertical-rule);
    position: absolute;
    right: -.2rem;
    top: 50%;
    translate: 0 -50%;
}

.score .score-item .score-icon {
    border-radius: 7rem;
    background: var(--score-icon-bg);
    padding: 1.55rem;
}

@media screen and (max-width: 992px) {
    .score .container {
        flex-direction: column;
        gap: 5rem;
    }

    .score .score-item:not(:last-child)::after {
        display: none;
    }

    .score .score-item:not(:last-child)::before {
        content: '';
        width: 12.5rem;
        height: .2rem;
        background: var(--vertical-rule);
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        translate: -50% 0;
    }

}




/* * ================ */
/* * FEATURE */
/* * ================ */

#feature {
    padding: 10rem 0;
}

#feature ul li {
    position: relative;
    text-indent: 3.4rem;
}

#feature ul li::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    background: url("images/header/check-icon.svg") no-repeat center / cover;
    width: 2.4rem;
    height: 2.4rem;
}


/* * =============== */
/* * CHOOSE */
/* * =============== */

#choose {
    padding: 8rem 0;
    background: light-dark(var(--light-bg-shade-1), var(--dark-bg-shade-1));
}

#choose .choose-plan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

#choose .choose-card {
    padding: 8rem 8rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .2rem solid var(--card-border-color);
    border-radius: 1rem;
}

#choose .choose-card li {
    position: relative;
    text-indent: 4.4rem;
}

#choose .choose-card li::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    background: url("images/choose/check.svg");
    width: 2.4rem;
    height: 2.4rem;

}


/* * =============== */
/* * NETWORK */
/* * =============== */

#network {
    padding: 10rem 0;
}

#network .brands {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 4.5rem;
}

#network .brands .brand-image {
    width: 19rem;
    height: 6rem;
}

#network .brands img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* * ============= */
/* * CUSTOMER */
/* * ============= */

#customer {
    padding: 10rem 0;
}



#customer .carousel-card {
    padding: 3rem;
    border-radius: 1rem;
    border: .2rem solid var(--btn);
    width: min(40rem, 100%);
    min-height: 30rem;
}

#customer .carousel-card .card-upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

#customer .carousel-card .card-content {
    translate: 0 10%;
}

#customer .carousel-card .card-content>* {
    line-height: normal;
}

#customer .carousel-card .card-image img {
    border-radius: 50%;
}

#customer .carousel-card .card-rating {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#customer .carousel-card .card-lower p {
    color: light-dark(var(--light-heading), var(--dark-para));
}

/* ------------------------ */
/* CUSTOM CAROUSEL STYING */

#customer .carousel-custom .carousel-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 2rem 2rem 0;
    gap: 2rem;
}

#customer .carousel-custom .carousel-buttons>* {
    position: static;
    margin: 0;
}

/* PREV/NEXT BUTTONS */

#customer .carousel-custom .carousel-buttons [class^="swiper-button"] {
    border-radius: 50%;
    width: auto;
    height: auto;
    padding: 2rem;
}

#customer .carousel-custom .carousel-buttons [class^="swiper-button"]::after {
    display: none;
}




/* PAGINATION */

#customer .carousel-custom .carousel-buttons .swiper-pagination {
    width: fit-content;
    align-content: center;
}

#customer .carousel-custom .carousel-buttons .swiper-pagination .swiper-pagination-bullet {
    background: var(--carousel-bullet-color);
    opacity: 1;
    width: 1.5rem;
    height: 1.5rem;
    transition: .3s;
}

#customer .carousel-custom .carousel-buttons .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--btn);
    width: 4.5rem;
    border-radius: 2rem;
    opacity: 1;
}