/* * ========== */
/* * SPACING */
/* * ========== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}


/* * ========== */
/* * GLOBAL */
/* * ========== */


:root {
    --space: 0.25rem;

    --light-heading: #0B132A;
    --light-para: #4F5665;
    --light-para-shade-1: #AFB5C0;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background: #000;
    color: white;
}

/* * ================= */
/* * TYPOGRAPHY */
/* * ================= */