/* * ========== */
/* * SPACING */
/* * ========== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}


/* * ========== */
/* * GLOBAL */
/* * ========== */


:root {
    color-scheme: dark;
    --space: 0.25rem;

    /* $ LIGHT THEME */
    --light-bg: #fff;
    --light-heading: #0B132A;
    --light-para: #4F5665;
    --light-para-shade-1: #AFB5C0;
    --light-slider: #fff;
    --light-slider-shadow: #dedede;
    --light-nav-bg: #fffa;

    /* $ DARK THEME */
    --dark-bg: #0d001d;
    --dark-heading: #fff;
    --dark-para: #94a2c1;
    --dark-slider: #0d001d;
    --dark-slider-shadow: #000;
    --dark-nav-bg: #0d001daa;

    /* $ BUTTON */
    --btn: #F53838;
    --btn-text: #fff;
    --btn-shadow: rgba(245, 56, 56, 0.35);

    /* $ OTHERS */
    --vertical-rule: #EEEFF2;
    --score-icon-bg: #FFECEC;
    --score-shadow: rgba(13, 16, 37, 0.06);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: light-dark(var(--light-para), var(--dark-para));
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    transition: .15s;
}

a:hover {
    opacity: .8;
}

body {
    background: light-dark(var(--light-bg), var(--dark-bg));
    color: white;
}

/* * ================= */
/* * TYPOGRAPHY */
/* * ================= */


html {
    font-size: 10px;
    font-family: "Rubik", sans-serif;
}

/* ------------- */
/* FONT WEIGHT */

strong {
    font-weight: 700;
}

b {
    font-weight: 500;
}

/* ---------- */
/* HEADING */

h1 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 5rem / 7rem "Rubik", sans-serif;
}

h2 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 3.5rem / 5rem "Rubik", sans-serif;
}

h3 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 700 2.5rem / 3rem "Rubik", sans-serif;
}

h4 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 2rem "Rubik", sans-serif;
}

h5 {
    color: light-dark(var(--light-heading), var(--dark-heading));
    font: 500 1.8rem / 3rem "Rubik", sans-serif;
}

/* ------------ */
/* PARAGRAPHS */

.text-1 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 2.5rem / 3rem "Rubik", sans-serif;
}

.text-2 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 2rem / 3rem "Rubik", sans-serif;
}

.text-3,
p {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 1.6rem / 3rem "Rubik", sans-serif;
}

.text-4 {
    color: light-dark(var(--light-para), var(--dark-para));
    font: 400 1.4rem / 3rem "Rubik", sans-serif;
}


/* * ================== */
/* * BUTTON */
/* * ================== */

/* -------------- */
/* FILLED BUTTON */

.btn-fill {
    appearance: none;
    outline: 0;
    border: 0;
    padding: 1.75rem 7.75rem;
    border-radius: 1rem;
    background: var(--btn);
    transition: .3s;

    color: var(--btn-text);
    font: 700 1.6rem / 2.5rem "Rubik", sans-serif;

    box-shadow: 0 2rem 2.7rem var(--btn-shadow);
}

.btn-fill:hover {
    box-shadow: 0 2rem 2.7rem var(--btn-shadow), 0 0 0 .5rem var(--btn-shadow);
    border-radius: 2rem;
}

/* --------------- */
/* BUTTON OUTLINE */

.btn-outline {
    appearance: none;
    outline: 0;
    background: transparent;
    transition: .3s;

    padding: 1.75rem 7.75rem;
    border-radius: 1rem;
    border: .2rem solid var(--btn);

    color: var(--btn);
    font: 700 1.6rem "Rubik", sans-serif;
}

.btn-outline:hover {
    box-shadow: 0 0 0 .5rem var(--btn-shadow);
    background: var(--btn);
    color: var(--btn-text);
}

/* * ================= */
/* * LAYOUT */
/* * ================= */

.container {
    width: clamp(min(100%, 30rem), 100%, 120rem);
}

.narrow {
    max-width: 55rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45rem, 100%), 54rem));
    place-content: center;
    place-items: center;
    gap: 4rem;
}



/* * =========================== */
/* * HEADER */
/* * =========================== */

nav {
    padding: 4rem 0 2rem;
    position: fixed;
    backdrop-filter: blur(10px);
    background: light-dark(var(--light-nav-bg), var(--dark-nav-bg));
    top: 0;
    width: 100%;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

nav .slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#overlay {
    display: none;
}

@media screen and (max-width: 992px) {
    nav:has(#slider-check:checked) .slider {
        right: 0;
    }

    header:has(#slider-check:checked) #overlay {
        display: block;
        position: fixed;
        inset: 0;

    }

    nav .slider {
        position: fixed;
        top: 0;
        right: -120%;
        z-index: 10;
        background: light-dark(var(--light-slider), var(--dark-slider));
        flex-direction: column;
        height: 100vh;
        text-align: center;
        width: min(30rem, 100%);
        padding: 5rem 0 1rem;
        box-shadow: -.1rem 0 3rem light-dark(var(--light-slider-shadow), var(--dark-slider-shadow));
        transition: .5s;
    }

    nav .slider>* {
        flex-direction: column;
    }

    nav .slider label {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

}

nav .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .links {
    display: flex;
    gap: 4rem;
    margin: 0 auto;
}

nav .sign {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav .sign a {
    color: light-dark(var(--light-heading), var(--dark-heading))
}


/* --------------- */
/* BANNER CONTENT */

.banner {
    margin: 19rem 0 10rem;
}

/* ----------------- */
/* SCORE */

.score .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 6rem 0;
    border-radius: 1rem;

    box-shadow: 0 5rem 5.7rem var(--score-shadow);
}

.score .score-item {
    display: flex;
    align-items: center;
    padding: 0 7rem;
    flex: 1;
    gap: 3.5rem;
}

.score .score-item+.score-item {
    border-left: .2rem solid var(--vertical-rule);
}

.score .score-item .score-icon {
    border-radius: 7rem;
    background: var(--score-icon-bg);
    padding: 1.55rem;
}